<!--The content below is only a placeholder and can be replaced.-->
<div class="pf-container">
<div class="pf-sidebar">
<app-side-bar></app-side-bar>
</div>
<div class="pf-content">
<em>Kathryn Minshew, Co-Founder and CEO of The Muse: </em>
<alert type="success">“An ugly baby is better than no baby at all. If you wait and wait and wait for
 your product to be perfect before you release it out into the world, you will
 often never get there.”</alert>
<h1> Services </h1>

<div class="pf-grid">
<div class="pf-grid-item">
<app-visitor-feed></app-visitor-feed><hr>
</div>
<div class="pf-grid-item">
<app-news-feed></app-news-feed><hr>
</div>
<div class="pf-grid-item">
<app-about-me></app-about-me><hr>
</div>
<div class="pf-grid-item">
<app-project-feed></app-project-feed><hr>
</div>
</div>
</div>
</div>
